# This will create a tnsping service for each database of the _databses
# macro of the host. So here $KEY$ will be equal to TEST if you are using
# the sample oracle template
define service{
   service_description    Oracle-$KEY$-tnsping
   use            	  oracle-service
   register       	  0
   host_name	  	  oracle
   check_command  	  check_oracle_tnsping!$KEY$
   duplicate_foreach	  _databases
   business_impact	5
   aggregation		  /oracle/$KEY$/connectivity

   _DETAILLEDESC          Ping Oracle Listener
   _IMPACT                Critical: Can't network connect to database
   _FIXACTIONS            Start listener !
}
